<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>人事管理系统</title>
<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="">
<link href="./css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<h1>人事管理系统</h1>
	<div class="w3ls-login box">
		<!-- form starts here -->
		<form action="./login" method="post">
			<div class="agile-field-txt">
				<input type="text" name="username" placeholder="账号" required="" />
			</div>
			<div class="agile-field-txt">
				<input type="password" name="password" placeholder="密码" required=""
					id="myInput" />
			</div>
			<div class="w3ls-bot">
				<input type="submit" value="登录">
			</div>
			<h3 style="color: red;" th:text="${error}"></h3>
		</form>
	</div>
</body>

</html>