<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>欢迎页面-X-admin2.2</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>

<body>

	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body ">
						<a href="./addkechngbxx.html">添加课程表信息</a>
						<form class="layui-form layui-col-space5" method="post"
							action="./select">
							<div class="layui-input-inline layui-show-xs-block">
								<input type="text" name="name" placeholder="请输入课程号"
									autocomplete="off" class="layui-input"> <input
									type="hidden" name="type" value="kcbxx" autocomplete="off"
									class="layui-input">
							</div>
							<div class="layui-input-inline layui-show-xs-block">
								<button class="layui-btn" lay-submit="" lay-filter="sreach">
									<i class="layui-icon">&#xe615;</i>
								</button>
							</div>
						</form>
					</div>
					<div class="layui-card-body ">
						<table class="layui-table layui-form">
							<thead>
								<tr>
									<th>排课ID</th>
									<th>课程号</th>
									<th>班级号</th>
									<th>授课教师</th>
									<th>授课时间</th>
									<th>授课地点</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="temp : ${list}">
									<th th:text="${temp.id}"></th>
									<th th:text="${temp.kcname}"></th>
									<th th:text="${temp.bjh}"></th>
									<th th:text="${temp.skjs}"></th>
									<th th:text="${temp.sksj}"></th>
									<th th:text="${temp.sjdd}"></th>
									<td class="td-manage"><a title="编辑" 
										th:href="@{get(type=kcbxx,id=${temp.id})}"> <i
											class="layui-icon">&#xe63c;</i>
									</a>  <a title="删除" th:href="@{'kechengxxdel?id='+${temp.id}}">
											<i class="layui-icon">&#xe640;</i>
									</a></td>
								</tr>

							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>


</html>